<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://ec2-54-247-169-129.eu-west-1.compute.amazonaws.com:5432/ddvs857atf880a?sslmode=require</property>
        <property name="connection.username">ernnfyjjdijqos</property>
        <property name="connection.password">34ca76441631815f49e2bb1ecf97ec34d5905b3530570d0af3ae56e23e5edb83</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.default_schema">public</property>
        <mapping class="com.example.sardapp.entities.User" />
    </session-factory>
</hibernate-configuration>